.sourceCode .hll { background-color: #404040 }
.sourceCode  { background: #202020; color: #d0d0d0 }
.sourceCode .c { color: #999999; font-style: italic } /* Comment */
.sourceCode .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.sourceCode .g { color: #d0d0d0 } /* Generic */
.sourceCode .k { color: #6ab825; font-weight: bold } /* Keyword */
.sourceCode .l { color: #d0d0d0 } /* Literal */
.sourceCode .n { color: #d0d0d0 } /* Name */
.sourceCode .o { color: #d0d0d0 } /* Operator */
.sourceCode .x { color: #d0d0d0 } /* Other */
.sourceCode .p { color: #d0d0d0 } /* Punctuation */
.sourceCode .cm { color: #999999; font-style: italic } /* Comment.Multiline */
.sourceCode .cp { color: #cd2828; font-weight: bold } /* Comment.Preproc */
.sourceCode .c1 { color: #999999; font-style: italic } /* Comment.Single */
.sourceCode .cs { color: #e50808; font-weight: bold; background-color: #520000 } /* Comment.Special */
.sourceCode .gd { color: #d22323 } /* Generic.Deleted */
.sourceCode .ge { color: #d0d0d0; font-style: italic } /* Generic.Emph */
.sourceCode .gr { color: #d22323 } /* Generic.Error */
.sourceCode .gh { color: #ffffff; font-weight: bold } /* Generic.Heading */
.sourceCode .gi { color: #589819 } /* Generic.Inserted */
.sourceCode .go { color: #cccccc } /* Generic.Output */
.sourceCode .gp { color: #aaaaaa } /* Generic.Prompt */
.sourceCode .gs { color: #d0d0d0; font-weight: bold } /* Generic.Strong */
.sourceCode .gu { color: #ffffff; text-decoration: underline } /* Generic.Subheading */
.sourceCode .gt { color: #d22323 } /* Generic.Traceback */
.sourceCode .kc { color: #6ab825; font-weight: bold } /* Keyword.Constant */
.sourceCode .kd { color: #6ab825; font-weight: bold } /* Keyword.Declaration */
.sourceCode .kn { color: #6ab825; font-weight: bold } /* Keyword.Namespace */
.sourceCode .kp { color: #6ab825 } /* Keyword.Pseudo */
.sourceCode .kr { color: #6ab825; font-weight: bold } /* Keyword.Reserved */
.sourceCode .kt { color: #6ab825; font-weight: bold } /* Keyword.Type */
.sourceCode .ld { color: #d0d0d0 } /* Literal.Date */
.sourceCode .m { color: #3677a9 } /* Literal.Number */
.sourceCode .s { color: #ed9d13 } /* Literal.String */
.sourceCode .na { color: #bbbbbb } /* Name.Attribute */
.sourceCode .nb { color: #24909d } /* Name.Builtin */
.sourceCode .nc { color: #447fcf; text-decoration: underline } /* Name.Class */
.sourceCode .no { color: #40ffff } /* Name.Constant */
.sourceCode .nd { color: #ffa500 } /* Name.Decorator */
.sourceCode .ni { color: #d0d0d0 } /* Name.Entity */
.sourceCode .ne { color: #bbbbbb } /* Name.Exception */
.sourceCode .nf { color: #447fcf } /* Name.Function */
.sourceCode .nl { color: #d0d0d0 } /* Name.Label */
.sourceCode .nn { color: #447fcf; text-decoration: underline } /* Name.Namespace */
.sourceCode .nx { color: #d0d0d0 } /* Name.Other */
.sourceCode .py { color: #d0d0d0 } /* Name.Property */
.sourceCode .nt { color: #6ab825; font-weight: bold } /* Name.Tag */
.sourceCode .nv { color: #40ffff } /* Name.Variable */
.sourceCode .ow { color: #6ab825; font-weight: bold } /* Operator.Word */
.sourceCode .w { color: #666666 } /* Text.Whitespace */
.sourceCode .mf { color: #3677a9 } /* Literal.Number.Float */
.sourceCode .mh { color: #3677a9 } /* Literal.Number.Hex */
.sourceCode .mi { color: #3677a9 } /* Literal.Number.Integer */
.sourceCode .mo { color: #3677a9 } /* Literal.Number.Oct */
.sourceCode .sb { color: #ed9d13 } /* Literal.String.Backtick */
.sourceCode .sc { color: #ed9d13 } /* Literal.String.Char */
.sourceCode .sd { color: #ed9d13 } /* Literal.String.Doc */
.sourceCode .s2 { color: #ed9d13 } /* Literal.String.Double */
.sourceCode .se { color: #ed9d13 } /* Literal.String.Escape */
.sourceCode .sh { color: #ed9d13 } /* Literal.String.Heredoc */
.sourceCode .si { color: #ed9d13 } /* Literal.String.Interpol */
.sourceCode .sx { color: #ffa500 } /* Literal.String.Other */
.sourceCode .sr { color: #ed9d13 } /* Literal.String.Regex */
.sourceCode .s1 { color: #ed9d13 } /* Literal.String.Single */
.sourceCode .ss { color: #ed9d13 } /* Literal.String.Symbol */
.sourceCode .bp { color: #24909d } /* Name.Builtin.Pseudo */
.sourceCode .vc { color: #40ffff } /* Name.Variable.Class */
.sourceCode .vg { color: #40ffff } /* Name.Variable.Global */
.sourceCode .vi { color: #40ffff } /* Name.Variable.Instance */
.sourceCode .il { color: #3677a9 } /* Literal.Number.Integer.Long */
