<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>{{ page.title }}</title>
        <meta name="author" content="Ivo Jimenez" />

        <link rel="stylesheet" href="{{ site.url }}/css/pygments.css" type="text/css" />
        <link rel="stylesheet" href="{{ site.url }}/css/style.css" type="text/css" />
    </head>
    <body>
        <div id="content">
            {{ content }}
        </div>

        {% if page.comments %}

        <div id="disqus_thread"></div>
        <script type="text/javascript">

            {% if page.category == 'blog' %}

              var disqus_shortname = 'ucscblog';
              var disqus_identifier = 'ucscblog_id_{{ page.date | date:"%Y_%m_%d"}}';

            {% elsif page.category == "labnotebook" %}

              var disqus_shortname = 'labnotebook';
              var disqus_identifier = 'labnotebook_id_{{ page.date | date:"%Y_%m_%d"}}';

	    {% endif %}

            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

        {% endif %}

        <div class="footer">
            <div class="contact">

                {% if page.backtoindexlink %}
                   {% if page.category == 'blog' %}
                <p>
                    <a href="{{ site.url }}/blog_index">back to index</a><br />
                </p>
                   {% elsif page.category == "labnotebook" %}
                <p>
                    <a href="{{ site.url }}/labnotebook_index">back to index</a><br />
                </p>
                   {% endif %}
                {% endif %}

                <p>
                    <a href="{{ site.url }}">back to home</a><br />
                </p>
            </div>

            <div class="rss">

            {% if page.category == 'blog' %}
                <a href="http://feeds.feedburner.com/ivotron">
                    <img src="/images/rss.gif" alt="Subscribe to RSS Feed" />
                </a>
            {% elsif page.category == "labnotebook" %}
                <a href="http://feeds.feedburner.com/ivolabnotebook">
                    <img src="/images/rss.gif" alt="Subscribe to RSS Feed" />
                </a>
	    {% endif %}

            </div>
        </div>
    </div>
</body>
</html>
