<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>{{ page.title }} : Ivo's blog</title>
        <meta name="author" content="Ivo Jimenez" />

        <link rel="stylesheet" href="/css/style.css" type="text/css" />

    </head>
    <body>

        <div class="site">

            <div id="content">
                {{ content }}
            </div>	

            <div class="footer">
                <div class="contact">
                    <p>
                    <a href="http://cs.ucsc.edu/~ivo/">home</a><br />
                    </p>
                </div>
                <div class="rss">
                    <a href="http://feeds.feedburner.com/ivotron">
                        <img src="/images/rss.gif" alt="Subscribe to RSS Feed" />
                    </a>
                </div>
            </div>

        </div>

    </div>

</body>
</html>
